In [5]:
import pandas as pd
from zelty_orders import dishes_df

In [6]:
dishes_df

                                               dishes  errno
0   {'id': 1470596, 'remote_id': None, 'id_restaur...      0
1   {'id': 1470597, 'remote_id': None, 'id_restaur...      0
2   {'id': 1470598, 'remote_id': None, 'id_restaur...      0
3   {'id': 1470599, 'remote_id': None, 'id_restaur...      0
4   {'id': 1470600, 'remote_id': None, 'id_restaur...      0
5   {'id': 1470601, 'remote_id': None, 'id_restaur...      0
6   {'id': 1470602, 'remote_id': None, 'id_restaur...      0
7   {'id': 1470603, 'remote_id': None, 'id_restaur...      0
8   {'id': 1470604, 'remote_id': None, 'id_restaur...      0
9   {'id': 1470605, 'remote_id': None, 'id_restaur...      0
10  {'id': 1470606, 'remote_id': None, 'id_restaur...      0
11  {'id': 1470607, 'remote_id': None, 'id_restaur...      0
12  {'id': 1470608, 'remote_id': None, 'id_restaur...      0
13  {'id': 1470609, 'remote_id': None, 'id_restaur...      0
14  {'id': 1470610, 'remote_id': None, 'id_restaur...      0
15  {'id': 1470611, 'remote_id': None, 'id_restaur...      0
16  {'id': 1470612, 'remote_id': None, 'id_restaur...      0
17  {'id': 1470613, 'remote_id': None, 'id_restaur...      0
18  {'id': 1470614, 'remote_id': None, 'id_restaur...      0
19  {'id': 1470615, 'remote_id': None, 'id_restaur...      0
20  {'id': 1470616, 'remote_id': None, 'id_restaur...      0
21  {'id': 1470617, 'remote_id': None, 'id_restaur...      0
22  {'id': 1470618, 'remote_id': None, 'id_restaur...      0
23  {'id': 1470619, 'remote_id': None, 'id_restaur...      0
24  {'id': 1470621, 'remote_id': None, 'id_restaur...      0
25  {'id': 1470622, 'remote_id': None, 'id_restaur...      0
26  {'id': 1470623, 'remote_id': None, 'id_restaur...      0
27  {'id': 1470624, 'remote_id': None, 'id_restaur...      0
28  {'id': 1470625, 'remote_id': None, 'id_restaur...      0
29  {'id': 1470626, 'remote_id': None, 'id_restaur...      0
30  {'id': 1470627, 'remote_id': None, 'id_restaur...      0
31  {'id': 1470628, 'remote_id': None, 'id_restaur...      0
32  {'id': 1470629, 'remote_id': None, 'id_restaur...      0
33  {'id': 1470630, 'remote_id': None, 'id_restaur...      0
34  {'id': 1470631, 'remote_id': None, 'id_restaur...      0
35  {'id': 1470632, 'remote_id': None, 'id_restaur...      0
36  {'id': 1470633, 'remote_id': None, 'id_restaur...      0
37  {'id': 1470634, 'remote_id': None, 'id_restaur...      0
38  {'id': 1470635, 'remote_id': None, 'id_restaur...      0
39  {'id': 1470636, 'remote_id': None, 'id_restaur...      0
40  {'id': 1470637, 'remote_id': None, 'id_restaur...      0
41  {'id': 1470638, 'remote_id': None, 'id_restaur...      0
42  {'id': 1470639, 'remote_id': None, 'id_restaur...      0
43  {'id': 1470640, 'remote_id': None, 'id_restaur...      0
44  {'id': 1470641, 'remote_id': None, 'id_restaur...      0
45  {'id': 1470642, 'remote_id': None, 'id_restaur...      0
46  {'id': 1470643, 'remote_id': None, 'id_restaur...      0
47  {'id': 1471398, 'remote_id': None, 'id_restaur...      0
48  {'id': 1471767, 'remote_id': None, 'id_restaur...      0